ul{
    list-style-type: none;
}

.topline{
    position: absolute;
    display: flex;
    border-bottom: 1px solid #e7e9fc ;
    width: 1440px;
    height: 72px;
}

.topline .container{
    position: relative;
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    border: 1px solid red;

}

.topline .container .nav-menu{
    position: relative;
    display: flex;
    align-items: center;

}

.topline .container .nav-menu .logo{
    margin-right: 76px;
}

.topline .container .nav-menu .menu-list{
    position: relative;
    display: flex;
    gap: 40px;
}

.topline .container .nav-menu .menu-list .menu{
    padding: 24px 0;
}

.topline .container address .informations{
position: relative;
display: flex;
gap: 40px;
}
